/** @type {import('jest').Config} */
module.exports = {
  testEnvironment: "node",
  testPathIgnorePatterns: ["/node_modules/", "/dist/"],
  moduleFileExtensions: ["js", "json"],
  testMatch: ["**/tests/**/*.test.js"],
  transformIgnorePatterns: [
    "node_modules/(?!(@ckb-ccc|ckb-testtool)/)"
  ],
  collectCoverageFrom: [
    "contracts/*/src/**/*.js",
    "!dist/**"
  ]
};
