/** @type {import('jest').Config} */
module.exports = {
  preset: "ts-jest",
  testEnvironment: "node",
  testPathIgnorePatterns: ["/node_modules/", "/dist/", "/contracts/*/dist/"],
  moduleFileExtensions: ["ts", "js", "json"],
  testMatch: ["**/tests/**/*.test.ts"],
  transform: {
    "^.+\\.ts$": "ts-jest"
  },
  transformIgnorePatterns: [
    "node_modules/(?!(@ckb-ccc|ckb-testtool)/)"
  ],
  collectCoverageFrom: [
    "contracts/*/src/**/*.ts",
    "!contracts/*/dist/**"
  ]
};
