/** @type {import('jest').Config} */
module.exports = {
  testEnvironment: "node",
  testPathIgnorePatterns: ["/node_modules/", "/dist/", "/contracts/*/dist/"],
  moduleFileExtensions: ["js", "json"],
  testMatch: ["**/tests/**/*.test.js"],
  collectCoverageFrom: [
    "contracts/*/src/**/*.js",
    "!contracts/*/dist/**"
  ]
};
